
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* color */

.bg-color1{
  color: #fff4e7;
}
.dark1{
color: #131313;
}
.dark2{
color: #424242;
}
.dark3{
color: #727272;
}
.accent{
    color: #FF900E;
}
.accent-bg{
    background-color: #fff4e7;
}
/* display-flex */
.display-flex{
    display: flex;
}
/* navbar relate styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    
   

}
.nav-item{
    list-style: none;
    margin-left: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 500;
}
.barnd{
    font-size: 2rem;
    font-weight: bold;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}
/* Banner related styles */
.banner-content{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
    margin-bottom:50px;


}
.banner-title{
    font-size:4rem;
    font-weight: 700;


}
.btn-primary{
    background-color: #FF900E;
    font-size:1.2rem;
    color: white;
    padding:20px 25px;
    border: none;
    border-radius:5px;
    font-weight: 600;

}
.banner-image{
    width: 100%;
}
/* navbar responsive  */
@media screen and (max-width:576px) {
    .navbar, .nav-link{
    flex-direction: column;
    }

    
}